@font-face {
  font-family: 'Spotify';
  src: url(assets\fonts\Gotham-Thin.otf);
  font-style: normal;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rainbow {
  0% {
    background: linear-gradient(to bottom, #ff0000, #181818 50%, #181818 100%);

  }
  25% {
    background: linear-gradient(to bottom, #ff7f00, #181818 50%, #181818 100%);

  }
  50% {
    background: linear-gradient(to bottom, #ffff00, #181818 50%, #181818 100%);

  }
  75% {
    background: linear-gradient(to bottom, #00ff00, #181818 50%, #181818 100%);

  }
  100% {
    background: linear-gradient(to bottom, #00ffff, #181818 50%, #181818 100%);

  }
}
@keyframes rgbchange{
  /** make an that changes the background color using hue rotate */
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
:root {
    --fade-color: #680000;
}
body {
    font-family: 'Spotify', sans-serif;
    font-size: 16px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#leftPanel {
    background-color: black;
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#bottomPanel {
    background-color: #181818;
    color: white;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;    
    border-top: #282828 solid 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#main {
    width: 100%;
    position: fixed;
    top: 0;
    left: 250px;
    bottom: 91px;
    background: linear-gradient(to bottom, #ff0000, #181818 50%, #181818 100%);
}

#controls {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
   
}
#volume {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

#ion-icon {
  opacity: 0.8;
  height: 20px;
  width: 20px;
  padding-right: 10px;
}
#ion-icon:hover {
  opacity: 1;
}
#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
#heart {
    padding-right: 10px;
    padding-left: 30px;
    height: 25px;
    width: 25px;
    opacity: 0.6;
}
#heart:hover {
    opacity: 1;
}
#heart2 {
  padding-right: 10px;
  padding-left: 30px;
  height: 25px;
  width: 25px;
  opacity: 0.6;
}
#heart2:hover {
  opacity: 1;
}


#cart {
  height: 25px;
  width: 25px;
  opacity: 0.6;
  padding-right: 10px;
  padding-left: 10px;
}
#cart:hover {
  opacity: 1;
}
#playpause {
    height: 42px;
    width: 42px;
    padding-left: 10px;
    padding-right: 10px;
}
#playpause:hover {
  transform: scale(1.1);
}

#stop {
  height: 25px;
  width: 25px;
  opacity: 0.6;
  padding-left: 10px;
  padding-right: 10px;
}
#stop:hover {
  opacity: 1;
}

#loop {
  height: 25px;
  width: 25px;
  opacity: 0.6;
  padding-left: 10px;
}
#loop:hover {
  opacity: 1;
}

#audioProgress {
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  
}

#progressBarStuff {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

#duration {
    height: auto;
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.6;
}
#progress {
  height: auto;
  font-size: 12px;
  font-weight: lighter;
  opacity: 0.6;
}

#songCover {
    width: 56px;
    height: 56px;
    padding-right: 20px;
}

#name{
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#nameText {
  display: flex;
  flex-direction: column;
}
#songName {
  margin-bottom: 0px;
  font-size: 13px;
}
#songName:hover {
  text-decoration: underline;
  cursor: default;
}
#artistName {
  margin-top: 3px;
  opacity: 0.6;
  font-size: 12px;
  color: #B3B3B3;
}

#artistName:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: default;
}
#about {
  color: white;
  height: 25px;
  width: 25px;
  opacity: 0.6;
  padding-left: 10px;
  padding-top: 10px;
}
#about:hover {
  opacity: 1;
}
#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

#lynrBeatsImg {
  /** make image round **/
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 20px;
}
#lynrBeatsTitle {
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  margin-left: -20px;
}

#toast {
  position: absolute;
  width: auto;
  height: 50px;
  background-color: #2E77D0;
  color: white;
  border-radius: 10px;
}

#toast-text {
  padding-left: 20px;
  padding-right: 20px;
}

#toast-container {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 100px;   
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 40px;
}
#goodday {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.884);
  letter-spacing: -2px;
}

#links {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 80px 80px; 
  gap: 12px 24px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
}
.links {
  background-color: #53535385;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.linkImg {
  height: 80px;
  width: 80px;
  padding-right: 10px;
  border-radius: 10px 10px;
}
.removeHyperlink {
  text-decoration: none;
  color: white;
}













input[type=range].styled-slider {
  -webkit-appearance: none;
  background-color: transparent;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 16px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px #00000000;
  margin-top: calc(6.3px * 0.5 - 12px * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 20px;
  background: #535353;
  box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#B3B3B3,#B3B3B3) 0/var(--sx) 100% no-repeat, #535353;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#1DB954,#1DB954) 0/var(--sx) 100% no-repeat, #535353;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 16px;
  height: 12px;
  border-radius: 16px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px #00000000;
}

input[type=range].styled-slider::-moz-range-track {
  height: 6.3px;
  border: none;
  border-radius: 20px;
  background: #535353;
  box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#B3B3B3,#B3B3B3) 0/var(--sx) 100% no-repeat, #535353;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#1DB954,#1DB954) 0/var(--sx) 100% no-repeat, #535353;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 16px;
  height: 12px;
  border-radius: 16px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0 0 2px #00000000;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 6.3px;
  border-radius: 20px;
  background: #535353;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: 6.3px;
  border-radius: 20px 0 0 20px;
  margin: -undefined 0 -undefined -undefined;
  background: #B3B3B3;
  border: none;
  border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: #1DB954;
}




#audioProgress.styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 16px;
  background: #ffffff00;
  border: none;
  box-shadow: 0 0 2px #00000000;
  margin-top: calc(6.3px * 0.5 - 12px * 0.5);
}

#audioProgress.styled-slider::-ms-thumb {
  width: 16px;
  height: 12px;
  border-radius: 16px;
  background: #ffffff00;
  border: none;
  box-shadow: 0 0 2px #00000000;
  margin-top: 0;
  box-sizing: border-box;
}

#audioProgress.styled-slider::-moz-range-thumb {
  width: 16px;
  height: 12px;
  border-radius: 16px;
  background: #ffffff00;
  border: none;
  box-shadow: 0 0 2px #00000000;
}
